:root {
    --pokemon-yellow: #FFCB05;
    --pokemon-light-blue: #3D7DCA;
    --pokemon-dark-blue: #003A70;
    --pokemon-red: #FF0000;
    /* Colors for Types */
    --type-grass: rgb(43, 218, 177);
    --type-fire: #f7776a;
    --type-water: #58abf7;
    --type-bug: #A8B820;
    --type-normal: #C6C6A7;
    --type-poison: #C183C1;
    --type-electric: #F8D030;
    --type-ground: #CEB250;
    --type-fairy: #E8B0EB;
    --type-fighting: #C45D4C;
    --type-psychic: #E96C95;
    --type-rock: #BAA85E;
    --type-ghost: #816DB6;
    --type-ice: #98D8D8;
    --type-dragon: #8572C8;
    --type-flying: #90AAD7;
    --type-steel: #9FA9AF;
    --type-electric: #E7C536;
    --type-ice: #81CFD7;
    --type-dark: #79726B;
    --red: rgb(232, 72, 72);
    --grey: rgb(88, 72, 74);
    --light-grey: rgb(77, 77, 77);
  }
  
  .App {
    text-align: center;
    background-color: white;
  }
  
  .main {
    padding-top: 11vh;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-bottom: 4vh;
  }
  
  nav {
    position: fixed;
    height: 100vh;
    width: calc(55px + 4vh);
    top: 0;
    right: 0;
    z-index: 10;
  }
  
  .bar-container {
    position: fixed;
    height: 55px;
    width: 55px;
    top: 2vh;
    left: 2vh;
    cursor: pointer;
    z-index: 5;
    transform-origin: center;
    background-color: var(--pokemon-red);
    border-radius: 50%;
  }
  
  .bar {
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: white;
    transition: all 300ms ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
  }
  
  .bar-1 {
    top: 15px;
  }
  
  .open-1 {
    transform: translate(-50%, 11.5px) rotate(45deg);
  }
  
  .bar-2 {
    top: 26.5px;
  }
  
  .open-2 {
    background-color: transparent;
  }
  
  .bar-3 {
    bottom: 15px;
  }
  
  .open-3 {
    transform: translate(-50%, -11.5px) rotate(-45deg);
  }
  
  nav ul {
    all:unset;
  }
  
  nav a {
    top: calc(2vh + 2.5px);
    left: calc(2vh + 2.5px);
    height: 50px;
    width: 50px;
    background-color: var(--pokemon-red);
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    transition: all 300ms ease-in-out;
  }
  
  .open-nav a:first-of-type {
    transform: translateY(70px);
  }
  
  .open-nav a:last-of-type {
    transform: translateY(140px);
  }
  
  nav a li {
    all: unset;
    list-style-type: none;
    color: white;
    font-size: 20px;
  }
  
  nav i {
    font-size: 20px;
  }
  
  nav a:hover li {
    transform: scale(1.1);
  }
  
  /* ABOUT PAGE */
  
  .about {
    margin: auto;
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0 6px 3px rgba(0,0,0,0.5);
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(5px);
  }
  
  .about div {
    flex-basis: 100%;
  }
  
  .about a {
    text-decoration: underline;
  }
  
  /* MONSTER HOME DISPLAY */
  
  .home {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    justify-content: center;
    row-gap: 15px;
    column-gap: 15px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .home-title {
    font-size: 30px;
    grid-column: 1 / -1;
    padding: 0 0 20px 0;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    z-index: 6;
  }
  
  .background-ball {
    position: fixed;
    right: -18vh;
    top: -15vh;
    height: 50vh;
    filter: invert(86%) sepia(0%) saturate(0%) hue-rotate(163deg) brightness(92%) contrast(95%);
    z-index: 0;
  }
  
  .background-ball img {
    height: 100%;
  }
  
  .monster-home-display {
    width: 260px;
    height: 180px;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
    transition: all 200ms ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    background-color: black;
    color: white;
  }
  
  .monster-home-display:hover {
    transform: translate(0, -3px);
  }
  
  .monster-name {
    margin: 0;
    font-size: 14px;
    color: white;
    position: absolute;
    top: 0;
    left: 5%;
    opacity: 0;
  }
  
  .monster-id {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color: rgba(0,0,0,0.25);
    position: absolute;
    top: 11%;
    right: 5%;
    opacity: 0;
  }
  
  .monster-home-display .ball-container {
    position: absolute;
    width: 150px;
    height: 150px;
    background-image: url(../pokeoutline.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%) opacity(50%);
    bottom: -30px;
    right: -10px;
  }

  .monster-home-display img {
    position: absolute;
    width: 40%;
    bottom: 5%;
    right: 5%;
    z-index: 5;
    opacity: 0;
  }
  
  a {
    all: unset;
    cursor: pointer;
  }
  
  a:visited {
    all:unset;
    color: black;
  }
  
  .monster-type {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    bottom: 5%;
    left: 5%;
    height: 30%;
  }
  
  .monster-type img {
    position: static;
    height: 22.5px;
    width: auto;
    filter: none;
    margin-left: 10px;
  }
  
  .load-more {
    grid-column: 1 / -1;
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  
  .load-more div {
    background-color: white;
    border-radius: 50%;
    padding: .5vh;
    /* box-shadow: 0 0 8px 5px rgba(0,0,0,0.5); */
    width: 7vh;
    height: 7vh;
    display: flex;
  }
  
  .load-more div:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .load-more div img {
    width: 95%;
    margin: auto;
  }
  
  
  /* SEARCH FEATURE */
  
  .search form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 12;
    margin-top: 10px;
  }
  
  .search button {
    all:unset;
    margin: 10px auto;
    transition: all 200ms linear;
    animation-name: pulse;
    animation-duration: 800ms;
    filter: drop-shadow(5px 5px 7px rgba(0,0,0,0.5));
  }
  
  #hidden {
    display: none;
    pointer-events: none;
  }
  
  #pulse-it {
    animation-iteration-count: infinite;
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .search button:hover {
    /* cursor: pointer; */
    transform: scale(1.05);
  }
  
  .search button img {
    width: 150px;
    cursor: pointer;
  }
  
  .search form label {
    flex-basis: 100%;
    z-index: 5;
  }
  
  .search input {
    all: unset;
    background-color: white;
    width: 280px;
    height: 50px;
    /* border: 1px solid black; */
    border-radius: 25px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
    transition: all 200ms;
  }
  
  .search input:focus {
    transform: scale(1.1);
  }
  
  .search input:hover {
    cursor: text;
  }
  
  .search-result-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }
  
  .search-result-container img {
    width: 200px;
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
  }
  
  .search-result-container svg {
    height: 200px;
    animation-name: wobble;
    animation-duration: 1500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes wobble {
    0% { transform: translateX(50px) rotate(25deg) }
    25% { transform: translateX(0px) rotate(0deg) }
    50% { transform: translateX(-50px) rotate(-25deg); }
    75% { transform: translateX(0px) rotate(0deg) }
    100% { transform: translateX(50px) rotate(25deg) }
  }
  
  .search-result {
    width: 270px;
    height: 270px;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 200ms ease-in-out;
    background-color: rgb(255,255,255);
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin: auto;
  }
  
  .search-result:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.5);
  }
  
  .search-result h1 {
    margin: 20px auto 0px auto;
    font-size: 18px;
    flex-basis: 100%;
  }
  
  .search-result h2 {
    font-size: 12px;
  }
  
  
  
  /* Pokemon Details */
  
  .detail .background-ball {
    z-index: -1;
  }
  
  .detail {
    margin: auto;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(5px);
  }
  
  .name-container {
    flex-basis: 100%;
    height: 80px;
  }
  
  .pokemon-name {
    grid-column: 1 / 3;
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .pokemon-number {
    grid-column: 1 / 3;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .detail-image-container {
    margin-left: auto;
    flex-basis: 34%;
    min-width: 300px;
    opacity: 0;
  }
  
  .detail-image-container img {
    width: 80%;
    max-width: 330px;
    margin-bottom: 30px;
  }
  
  .info-container {
    flex-basis: 34%;
    margin-right: auto;
    width: 300px;
    min-width: 300px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(3px);
    opacity: 0;
  }
  
  .info-header {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .abilities {
    grid-column: 1 / 3;
    display: flex;
    flex-wrap: wrap;
  }
  
  .abilities .info-header {
    flex-basis: 100%;
  }
  
  .abilities .info-info {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    flex-wrap: wrap;
  }
  
  .abilities .info-info div {
    flex-basis: 50%;
  }
  
  .types {
    grid-column: 1 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .types .info-header {
    flex-basis: 100%;
  }
  
  .second-info-container {
    border: 1px solid black;
    width: 300px;
    margin: auto;
  }
  
  .base-stats {
    margin-left: auto;
    flex-basis: 34%;
    min-width: 300px;
    min-height: 200px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    justify-content: center;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(3px);
    opacity: 0;
  }
  
  .header {
    grid-row: 1 / 2;
  }
  
  .header h4 {
    margin: 0;
  }
  
  .stat {
    display: grid;
    grid-template-columns: 80px 1fr;
  }
  
  .label {
    grid-column: 1 / 2;
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
  }
  
  .stats-bar {
    width: 180px;
    margin-left: 5%;
    height: 15px;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
  }
  
  .filled {
    box-sizing: border-box;
    text-align: left;
    padding-left: 10px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding-top: 1px;
  }
  
  .hp-container {
    grid-row: 2 / 3;
  }
  
  .attack-container {
    grid-row: 3 / 4;
  }
  
  .defense-container {
    grid-row: 4 / 5;
  }
  
  .speed-container {
    grid-row: 5 / 6;
  }
  
  .sp-attack-container {
    grid-row: 6 / 7;
  }
  
  .sp-defense-container {
    grid-row: 7 / 8;
  }
  
  /*   EVOLUTIONS  DISPLAY */
  
  .evolutions-container {
    margin-right: auto;
    flex-basis: 34%;
    min-width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(3px);
    opacity: 0;
  }
  
  .evolution-title {
    flex-basis: 100%;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  .evolutions-container img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 4px;
  }
  
  .evolutions-container img:hover {
    transform: scale(1.1);
  }
  
  
  @media (max-width: 620px) {
    .detail-image-container {
      margin: auto;
    }
  
    .info-container {
      margin: auto;
    }
  
    .base-stats {
      margin: auto;
    }
  
    .evolutions-container {
      margin: auto;
    }

    .bar-container {
      bottom: 2vh;
      right: 2vh;
      top: auto;
      left: auto;
    }

    nav a {
      top: auto;
      left: auto;
      bottom: calc(2vh + 2.5px);
      right: calc(2vh + 2.5px);
    }

    .open-nav a:first-of-type {
      transform: translateY(-70px);
    }
    
    .open-nav a:last-of-type {
      transform: translateY(-140px);
    }
  }
  
  
  
  
  
  
  /* ------------------------------------- INTRO STYLES ------------------------------------- */

  .Intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 20;
  }
  
  .outer {
    opacity: 0;
    position: absolute;
    height: 50vmin;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: end;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%;
    overflow: hidden;
    perspective: 1200px;
    perspective-origin: 50% 50%;
    // animation: slideIn 3000ms;
  }
  
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    box-shadow: -.7vmin -1vmin 2vmin .1vmin #ccc inset;
    z-index: 5;
    background: radial-gradient(circle at 15vmin 15vmin, rgba(255, 255, 255, .05) 5%, #000);
  }
  
  .top {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    bottom: 50%;
  }
  
  .bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 50%;
    z-index: -5;
  }
  
  .middle {
    position: absolute;
    box-sizing: border-box;
    width: 50vmin;
    height: 3vmin;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1vmin .1vmin grey inset;
    z-index: -1;
  }
  
  .middle-large {
    position: absolute;
    width: 18vmin;
    height: 18vmin;
    border-radius: 50%;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1vmin .3vmin grey inset;
  }
  
  .cover {
    position: absolute;
    width: 17.9vmin;
    height: 3vmin;
    border-radius: 8%;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .middle-med {
    position: absolute;
    width: 13vmin;
    height: 13vmin;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1vmin .2vmin grey;
  }
  
  .middle-sm {
    position: absolute;
    width: 9vmin;
    height: 9vmin;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: .2vmin .2vmin .5vmin .1vmin black;
  }
  
  .shadow {
    position: relative;
    margin: auto auto 0 auto;
    width: 50vmin;
    height: 50vmin;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: translate(0, 25vmin) rotatex(85deg);
    z-index: -1;
    // animation: shadowSlide 2900ms;
  }
  
  .rotate {
    position: absolute;
    width: 100%;
    height: 100%;
    // animation: spin 3000ms;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes slideIn {
    0% { transform: translate(-100vw, -50%)}
    100% { transform: translate(-50%, -50%) }
  }
  
  @keyframes shadowSlide {
    0% {  transform: translate(-100vw, 25vmin) rotatex(85deg) }
    100% {   transform: translate(0, 25vmin) rotatex(85deg) }
  }