:root {
  --pokemon-yellow: #FFCB05;
  --pokemon-light-blue: #3D7DCA;
  --pokemon-dark-blue: #003A70;
  --pokemon-red: #FF0000;
  /* Colors for Types */
  --type-grass: rgb(43, 218, 177);
  --type-fire: #f7776a;
  --type-water: #58abf7;
  --type-bug: #A8B820;
  --type-normal: #C6C6A7;
  --type-poison: #C183C1;
  --type-electric: #F8D030;
  --type-ground: #CEB250;
  --type-fairy: #E8B0EB;
  --type-fighting: #C45D4C;
  --type-psychic: #E96C95;
  --type-rock: #BAA85E;
  --type-ghost: #816DB6;
  --type-ice: #98D8D8;
  --type-dragon: #8572C8;
  --type-flying: #90AAD7;
  --type-steel: #9FA9AF;
  --type-electric: #E7C536;
  --type-ice: #81CFD7;
  --type-dark: #79726B;
  --red: rgb(232, 72, 72);
  --grey: rgb(88, 72, 74);
  --light-grey: rgb(77, 77, 77);
}

.App {
  text-align: center;
  background-color: white;
}

.main {
  padding-top: 11vh;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 4vh;
}

nav {
  position: fixed;
  height: 100vh;
  width: calc(55px + 4vh);
  top: 0;
  right: 0;
  z-index: 10;
}

.bar-container {
  position: fixed;
  height: 55px;
  width: 55px;
  top: 2vh;
  left: 2vh;
  cursor: pointer;
  z-index: 5;
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: var(--pokemon-red);
  border-radius: 50%;
}

.bar {
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.bar-1 {
  top: 15px;
}

.open-1 {
  -webkit-transform: translate(-50%, 11.5px) rotate(45deg);
          transform: translate(-50%, 11.5px) rotate(45deg);
}

.bar-2 {
  top: 26.5px;
}

.open-2 {
  background-color: transparent;
}

.bar-3 {
  bottom: 15px;
}

.open-3 {
  -webkit-transform: translate(-50%, -11.5px) rotate(-45deg);
          transform: translate(-50%, -11.5px) rotate(-45deg);
}

nav ul {
  all: unset;
}

nav a {
  top: calc(2vh + 2.5px);
  left: calc(2vh + 2.5px);
  height: 50px;
  width: 50px;
  background-color: var(--pokemon-red);
  background-color: var(--light-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  position: fixed;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.open-nav a:first-of-type {
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.open-nav a:last-of-type {
  -webkit-transform: translateY(140px);
          transform: translateY(140px);
}

nav a li {
  all: unset;
  list-style-type: none;
  color: white;
  font-size: 20px;
}

nav i {
  font-size: 20px;
}

nav a:hover li {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* ABOUT PAGE */
.about {
  margin: auto;
  width: 50%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.about div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.about a {
  text-decoration: underline;
}

/* MONSTER HOME DISPLAY */
.home {
  margin-top: 2vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (260px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 260px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 15px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.home-title {
  font-size: 30px;
  grid-column: 1 / -1;
  padding: 0 0 20px 0;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  z-index: 6;
}

.background-ball {
  position: fixed;
  right: -18vh;
  top: -15vh;
  height: 50vh;
  -webkit-filter: invert(86%) sepia(0%) saturate(0%) hue-rotate(163deg) brightness(92%) contrast(95%);
          filter: invert(86%) sepia(0%) saturate(0%) hue-rotate(163deg) brightness(92%) contrast(95%);
  z-index: 0;
}

.background-ball img {
  height: 100%;
}

.monster-home-display {
  width: 260px;
  height: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
  background-color: black;
  color: white;
}

.monster-home-display:hover {
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
}

.monster-name {
  margin: 0;
  font-size: 14px;
  color: white;
  position: absolute;
  top: 0;
  left: 5%;
  opacity: 0;
}

.monster-id {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 11%;
  right: 5%;
  opacity: 0;
}

.monster-home-display .ball-container {
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url(../pokeoutline.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%) opacity(50%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%) opacity(50%);
  bottom: -30px;
  right: -10px;
}

.monster-home-display img {
  position: absolute;
  width: 40%;
  bottom: 5%;
  right: 5%;
  z-index: 5;
  opacity: 0;
}

a {
  all: unset;
  cursor: pointer;
}

a:visited {
  all: unset;
  color: black;
}

.monster-type {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  bottom: 5%;
  left: 5%;
  height: 30%;
}

.monster-type img {
  position: static;
  height: 22.5px;
  width: auto;
  -webkit-filter: none;
          filter: none;
  margin-left: 10px;
}

.load-more {
  grid-column: 1 / -1;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.load-more div {
  background-color: white;
  border-radius: 50%;
  padding: .5vh;
  /* box-shadow: 0 0 8px 5px rgba(0,0,0,0.5); */
  width: 7vh;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.load-more div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.load-more div img {
  width: 95%;
  margin: auto;
}

/* SEARCH FEATURE */
.search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 12;
  margin-top: 10px;
}

.search button {
  all: unset;
  margin: 10px auto;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.5));
}

#hidden {
  display: none;
  pointer-events: none;
}

#pulse-it {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.search button:hover {
  /* cursor: pointer; */
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.search button img {
  width: 150px;
  cursor: pointer;
}

.search form label {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  z-index: 5;
}

.search input {
  all: unset;
  background-color: white;
  width: 280px;
  height: 50px;
  /* border: 1px solid black; */
  border-radius: 25px;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.search input:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.search input:hover {
  cursor: text;
}

.search-result-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

.search-result-container img {
  width: 200px;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.search-result-container svg {
  height: 200px;
  -webkit-animation-name: wobble;
          animation-name: wobble;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateX(50px) rotate(25deg);
            transform: translateX(50px) rotate(25deg);
  }
  25% {
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateX(-50px) rotate(-25deg);
            transform: translateX(-50px) rotate(-25deg);
  }
  75% {
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(50px) rotate(25deg);
            transform: translateX(50px) rotate(25deg);
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: translateX(50px) rotate(25deg);
            transform: translateX(50px) rotate(25deg);
  }
  25% {
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateX(-50px) rotate(-25deg);
            transform: translateX(-50px) rotate(-25deg);
  }
  75% {
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(50px) rotate(25deg);
            transform: translateX(50px) rotate(25deg);
  }
}

.search-result {
  width: 270px;
  height: 270px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: white;
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  margin: auto;
}

.search-result:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.5);
}

.search-result h1 {
  margin: 20px auto 0px auto;
  font-size: 18px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.search-result h2 {
  font-size: 12px;
}

/* Pokemon Details */
.detail .background-ball {
  z-index: -1;
}

.detail {
  margin: auto;
  width: 100%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.name-container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 80px;
}

.pokemon-name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  font-size: 30px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pokemon-number {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  margin-bottom: 20px;
  font-size: 20px;
}

.detail-image-container {
  margin-left: auto;
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
  min-width: 300px;
  opacity: 0;
}

.detail-image-container img {
  width: 80%;
  max-width: 330px;
  margin-bottom: 30px;
}

.info-container {
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
  margin-right: auto;
  width: 300px;
  min-width: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 0;
}

.info-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.abilities {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.abilities .info-header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.abilities .info-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.abilities .info-info div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.types {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}

.types .info-header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.second-info-container {
  border: 1px solid black;
  width: 300px;
  margin: auto;
}

.base-stats {
  margin-left: auto;
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
  min-width: 300px;
  min-height: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 0;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.header h4 {
  margin: 0;
}

.stat {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr;
      grid-template-columns: 80px 1fr;
}

.label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  text-align: left;
  padding-left: 20px;
  font-size: 15px;
}

.stats-bar {
  width: 180px;
  margin-left: 5%;
  height: 15px;
  border: 1px solid black;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.filled {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  padding-left: 10px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding-top: 1px;
}

.hp-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.attack-container {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.defense-container {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.speed-container {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.sp-attack-container {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
}

.sp-defense-container {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
}

/*   EVOLUTIONS  DISPLAY */
.evolutions-container {
  margin-right: auto;
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
  min-width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 0;
}

.evolution-title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-weight: bold;
  padding-bottom: 10px;
}

.evolutions-container img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 4px;
}

.evolutions-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 620px) {
  .detail-image-container {
    margin: auto;
  }
  .info-container {
    margin: auto;
  }
  .base-stats {
    margin: auto;
  }
  .evolutions-container {
    margin: auto;
  }
  .bar-container {
    bottom: 2vh;
    right: 2vh;
    top: auto;
    left: auto;
  }
  nav a {
    top: auto;
    left: auto;
    bottom: calc(2vh + 2.5px);
    right: calc(2vh + 2.5px);
  }
  .open-nav a:first-of-type {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  .open-nav a:last-of-type {
    -webkit-transform: translateY(-140px);
            transform: translateY(-140px);
  }
}

/* INTRO STYLES */
.container {
  width: 100vw;
  height: 100vh;
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
}

.outer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 85vmin;
  width: 60vmin;
  border: 1vmin solid #58484a;
  border-radius: 5vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e84848;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

.blue-light-outer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 10vmin;
  width: 10vmin;
  border: .5vmin solid black;
  border-radius: 50%;
  position: absolute;
  top: 2vmin;
  left: 5vmin;
  background-color: #e6e6e6;
}

.blue-light-inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border: .5vmin solid black;
  background-color: #2d4499;
  border-radius: 50%;
  overflow: hidden;
}

.blue-light-lighter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 35%;
  left: 35%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #4d65af;
}

.blue-light-lightest {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 48%;
  left: 48%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #c7cae5;
}

.red-light-outer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 3.5vmin;
  width: 3.5vmin;
  border: .5vmin solid black;
  border-radius: 50%;
  position: absolute;
  top: 2vmin;
  left: 20vmin;
  background-color: #9a201d;
  overflow: hidden;
}

.red-light-lighter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 35%;
  left: 35%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e7202c;
}

.red-light-lightest {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 48%;
  left: 48%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f9c6b4;
}

.yellow-light-outer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 3.5vmin;
  width: 3.5vmin;
  border: .5vmin solid black;
  border-radius: 50%;
  position: absolute;
  top: 2vmin;
  left: 25vmin;
  background-color: #958937;
  overflow: hidden;
}

.yellow-light-lighter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 35%;
  left: 35%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f9ed2f;
}

.yellow-light-lightest {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 48%;
  left: 48%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fffccb;
}

.green-light-outer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 3.5vmin;
  width: 3.5vmin;
  border: .5vmin solid black;
  border-radius: 50%;
  position: absolute;
  top: 2vmin;
  left: 30vmin;
  background-color: #246839;
  overflow: hidden;
}

.green-light-lighter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 35%;
  left: 35%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #189748;
}

.green-light-lightest {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 48%;
  left: 48%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #cbdbc6;
}

.flap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: -1vmin;
  left: -1vmin;
  height: 65vmin;
  width: 60vmin;
  border-bottom-left-radius: 5vmin;
  border-bottom-right-radius: 5vmin;
  border: 1vmin solid #58484a;
  background-color: #e84848;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
  z-index: 50;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.trapezoid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 9vmin;
  width: 20vmin;
  right: -1vmin;
  top: -8vmin;
  border-top: 0.8vmin solid #58484a;
  border-right: 1vmin solid #58484a;
  background-color: #e84848;
}

.diagonal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 9vmin;
  width: 20vmin;
  right: 12.9vmin;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -2.2vmin;
  border-top: 1vmin solid #58484a;
  background-color: #e84848;
}

.cover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 10vmin;
  width: 100%;
  background-color: #e84848;
  top: -.1vmin;
  left: 0;
  z-index: 5;
}

.inside-black-screen {
  width: 70%;
  height: 18%;
  left: 50%;
  top: 12.5%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #666666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1vmin solid var(--grey);
  border-radius: 1vmin;
  position: absolute;
  z-index: 100;
  overflow: hidden;
}

.inside-black-screen .shadow {
  position: absolute;
  width: 100%;
  height: 70%;
  border-radius: 50%;
  background-color: #5c5c5c;
  top: 85%;
}

.blue-button-container {
  width: 70%;
  height: 18%;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.7vmin solid var(--grey);
  border-radius: 1vmin;
  position: absolute;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.blue-button {
  position: relative;
  width: 100%;
  background-color: #23b0c6;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.2vmin solid var(--grey);
  overflow: hidden;
}

.blue-button .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #328996;
  border-radius: 50%;
  top: 70%;
}

.small-black-button {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2vmin;
  width: 7vmin;
  border-radius: 1vmin;
  border: 0.5vmin solid var(--grey);
  background-color: #666666;
  overflow: hidden;
  z-index: 10;
}

.small-black-button-1 {
  top: 57.5%;
  left: 15%;
}

.small-black-button-2 {
  top: 57.5%;
  left: 30%;
}

.small-black-button .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70%;
  background-color: #4c4f4f;
  border-radius: 50%;
}

.grey-button-container {
  width: 28%;
  height: 9%;
  right: 15%;
  top: 65%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.7vmin solid var(--grey);
  border-radius: 1vmin;
  position: absolute;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.grey-button {
  position: relative;
  width: 100%;
  background-color: #e6e6e6;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.2vmin solid var(--grey);
  overflow: hidden;
}

.grey-button .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #aaaaaa;
  border-radius: 50%;
  top: 70%;
}

.yellow-button {
  position: absolute;
  height: 5vmin;
  width: 5vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fcee6a;
  top: 65.5%;
  left: 15%;
  z-index: 10;
  border-radius: 50%;
  border: 0.5vmin solid var(--grey);
}

.wide-black-button {
  width: 32.5%;
  height: 10%;
  right: 15%;
  bottom: 12%;
  background-color: #666666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.5vmin solid var(--grey);
  border-radius: 1vmin;
  position: absolute;
  z-index: 100;
  overflow: hidden;
}

.wide-black-button .shadow {
  position: absolute;
  width: 100%;
  height: 70%;
  border-radius: 50%;
  background-color: #5c5c5c;
  top: 85%;
}

.narrow-black-button {
  width: 22.5%;
  height: 10%;
  left: 15%;
  bottom: 12%;
  background-color: #666666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.5vmin solid var(--grey);
  border-radius: 1vmin;
  position: absolute;
  z-index: 100;
  overflow: hidden;
}

.narrow-black-button .shadow {
  position: absolute;
  width: 100%;
  height: 70%;
  border-radius: 50%;
  background-color: #5c5c5c;
  top: 85%;
}

.inside {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: -1vmin;
  left: -1vmin;
  height: 65vmin;
  width: 60vmin;
  border-bottom-left-radius: 5vmin;
  border-bottom-right-radius: 5vmin;
  border: 1vmin solid #58484a;
  background-color: #e84848;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.trapezoid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 9vmin;
  width: 20vmin;
  right: -1vmin;
  top: -8vmin;
  border-top: 0.8vmin solid #58484a;
  border-right: 1vmin solid #58484a;
  background-color: #e84848;
}

.diagonal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 9vmin;
  width: 20vmin;
  right: 12.9vmin;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -2.2vmin;
  border-top: 1vmin solid #58484a;
  background-color: #e84848;
}

.cover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 10vmin;
  width: 90%;
  background-color: #e84848;
  top: -.1vmin;
  left: 0;
  z-index: 5;
}

.flap-inside-smaller {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  border-bottom-left-radius: 5vmin;
  border-bottom-right-radius: 5vmin;
  border: 1vmin solid #58484a;
  background-color: #e84848;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  z-index: 6;
}

.inside-smaller {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  border-bottom-left-radius: 5vmin;
  border-bottom-right-radius: 5vmin;
  border: 1vmin solid #58484a;
  background-color: #e84848;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  z-index: 6;
}

.trapezoid-smaller {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 9vmin;
  width: 14vmin;
  right: -1vmin;
  top: -8vmin;
  border-top: 0.8vmin solid #58484a;
  border-right: 1vmin solid #58484a;
  background-color: #e84848;
}

.diagonal-smaller {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 5.4vmin;
  width: 18vmin;
  right: 8.5vmin;
  top: -2.3vmin;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-top: 1vmin solid #58484a;
  background-color: #e84848;
  /*   z-index: 20; */
}

.cover-smaller {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 10vmin;
  width: 80%;
  background-color: #e84848;
  top: -.1vmin;
  left: 0;
  z-index: 5;
}

.screen {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 80%;
  height: 50%;
  left: 50%;
  top: 33%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.screen-outer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
  z-index: 10;
  border: 1vmin solid #58484a;
  border-radius: 1vmin;
}

.screen-inner {
  position: absolute;
  width: 75%;
  height: 65%;
  background-color: #4d4d4d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.screen-on {
  position: absolute;
  width: 1%;
  height: 1%;
  background-color: #00d7fc;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loading-ball {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading-ball img {
  height: 50%;
  -webkit-filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(330deg) brightness(100%) contrast(102%);
          filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(330deg) brightness(100%) contrast(102%);
}

.screen-outer .dots {
  position: absolute;
  width: 100%;
  top: 0;
  height: 4.5vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen-outer .dots .dot {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2vmin;
  width: 2vmin;
  border-radius: 50%;
  background-color: #e6e6e6;
  border: 0.5vmin solid var(--grey);
  margin: auto 1vmin;
}

.screen-outer .red-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 3vmin;
  width: 3vmin;
  background-color: var(--red);
  border-radius: 50%;
  bottom: .5vmin;
  left: 5vmin;
  border: 0.5vmin solid #58484a;
}

.screen-outer .bars-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 3vmin;
  width: 3vmin;
  bottom: .5vmin;
  right: 5vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screen-outer .bars-container .bar {
  width: 100%;
  background-color: var(--grey);
  height: .6vmin;
  border-radius: 2vmin;
}

.screen-corner {
  position: absolute;
  background-color: #e84848;
  width: 20%;
  height: 20%;
  z-index: 11;
  bottom: -7.5%;
  left: -7%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1vmin solid #58484a;
}

.inside .black-round-button {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 7vmin;
  width: 7vmin;
  border-radius: 50%;
  bottom: 20%;
  left: 12%;
  border: 0.5vmin solid var(--grey);
  background-color: #666666;
}

.small-red-button {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2vmin;
  width: 7vmin;
  border-radius: 1vmin;
  bottom: 28%;
  left: 30%;
  border: 0.5vmin solid var(--grey);
  background-color: var(--red);
  overflow: hidden;
}

.small-red-button .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70%;
  background-color: #86504f;
  border-radius: 50%;
}

.small-blue-button {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2vmin;
  width: 7vmin;
  border-radius: 1vmin;
  bottom: 28%;
  left: 47%;
  border: 0.5vmin solid var(--grey);
  background-color: #33a0cd;
  overflow: hidden;
}

.small-blue-button .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70%;
  background-color: #4b5a5f;
  border-radius: 50%;
}

.green-rectangle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 14vmin;
  height: 6vmin;
  position: absolute;
  border-radius: 1vmin;
  border: 0.5vmin solid var(--grey);
  bottom: 10%;
  left: 30%;
  background-color: #22b598;
  overflow: hidden;
}

.green-rectangle .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2aa189;
  top: 70%;
  border-radius: 50%;
}

.d-pad {
  position: absolute;
  bottom: 8%;
  right: 10%;
  height: 13vmin;
  width: 13vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.horizontal {
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: #666666;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border: 0.5vmin solid var(--grey);
  border-radius: 1vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.vertical {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #666666;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border: 0.5vmin solid var(--grey);
  border-radius: 1vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.d-pad .center {
  position: absolute;
  height: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #666666;
  width: 33%;
}

.d-pad .center .circle {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 0.5vmin 0.5vmin var(--grey) inset;
          box-shadow: 0 0 0.5vmin 0.5vmin var(--grey) inset;
}
/*# sourceMappingURL=styles.css.map */