:root {
  --pokemon-yellow: #FFCB05;
  --pokemon-light-blue: #3D7DCA;
  --pokemon-dark-blue: #003A70;
  --pokemon-red: #FF0000;
}

.App {
  text-align: center;
}

.main {
  margin-top: 8vh;
}

nav {
  position: fixed;
  height: 8vh;
  background-color: var(--pokemon-red);
  width: 100vw;
  top: 0;
}

.logo-container {
  height: 100%;
  display: flex;
  z-index: 3;
  position: absolute;
  left: 0;
  padding-left: 1vw;
}

.logo-container img {
  height: 80%;
  margin: auto;
}

nav ul {
  position: absolute;
  right: 1vw;
  top: 0;
  display: flex;
  align-items: center;
  width: 150px;
  height: 8vh;
  justify-content: space-around;
  margin: 0
}

nav li {
  list-style-type: none;
}

.sliding-rect {
  position: absolute;
  right: 10px;
  height: 100%;
  width: 150px;
  transition: all ease-in-out 300ms;
  background-color: var(--pokemon-red);
}

.sliding-rect svg {
  position: absolute;
  height: 100%;
  right: 0;
  transform: rotate(0);
  transition: all ease-in-out 300ms;
}

ul:hover svg {
  transform: rotate(-400deg);
}

ul:hover .sliding-rect {
  transform: translateX(-150px);
}