:root {
  --pokemon-yellow: #FFCB05;
  --pokemon-light-blue: #3D7DCA;
  --pokemon-dark-blue: #003A70;
  --pokemon-red: #FF0000;
  /* Colors for Types */
  --type-grass: #82C95B;
  --type-fire: #E87A3D;
  --type-water: #639CE4;
  --type-bug: #ACC23E;
  --type-normal: #ACAD99;
  --type-poison: #B369AF;
  --type-electric: #F8D030;
  --type-ground: #CEB250;
  --type-fairy: #E8B0EB;
  --type-fighting: #C45D4C;
  --type-psychic: #E96C95;
  --type-rock: #BAA85E;
  --type-ghost: #816DB6;
  --type-ice: #98D8D8;
  --type-dragon: #8572C8;
  --type-flying: #90AAD7;
  --type-steel: #9FA9AF;
  --type-electric: #E7C536;
  --type-ice: #81CFD7;
  --type-dark: #79726B;
}

.App {
  text-align: center;
  background-color: #FAFAFA;
}

.main {
  padding-top: 12vh;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 4vh;
  background-color: #FAFAFA;
}

nav {
  position: fixed;
  height: 8vh;
  background-color: white;
  box-shadow: 0px 0px 5px 1px grey;
  width: 100vw;
  top: 0;
  z-index: 10;
}

.logo-container {
  height: 100%;
  display: flex;
  z-index: 3;
  position: absolute;
  left: 0;
  padding-left: 1vw;
}

.logo-container img {
  height: 80%;
  margin: auto;
}

nav ul {
  position: absolute;
  right: 1vw;
  top: 0;
  display: flex;
  align-items: center;
  width: 150px;
  height: 8vh;
  justify-content: space-around;
  margin: 0
}

nav li {
  list-style-type: none;
}

.sliding-rect {
  position: absolute;
  right: 10px;
  height: 100%;
  width: 150px;
  transition: all ease-in-out 300ms;
  background-color: white;
}

.sliding-rect svg {
  position: absolute;
  height: 100%;
  right: 0;
  transform: rotate(0);
  transition: all ease-in-out 300ms;
}

ul:hover svg {
  transform: rotate(-400deg);
}

ul:hover .sliding-rect {
  transform: translateX(-150px);
}

/* MONSTER HOME DISPLAY */

.home {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  grid-gap: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.monster-home-display {
  width: 300px;
  height: 375px;
  box-sizing: border-box;
  border-radius: 50px;
  display: grid;
  grid-template-rows: 240px 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 200ms ease-in-out;
  /* background-color: white; */
  background: rgb(255,255,255);
/* background: radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(219,219,219,1) 100%); */
  box-shadow: 0 0 6px 3px rgba(0,0,0,0.5);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.monster-home-display:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px 5px rgba(0,0,0,0.5);
}

.monster-home-display svg {
  height: 100px;
  margin: auto;
}

.monster-info {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
}

.monster-info h1 {
  margin: 0;
}

.monster-home-display img {
  position: relative;
  height: 250px;
  top: -10px;
  filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}

a {
  all: unset;
  cursor: pointer;
}

a:visited {
  all:unset;
  color: black;
}

.monster-type {
  /* padding-top: 10px; */
}

.monster-type img {
  position: static;
  height: 30px;
  filter: none;
  margin-left: 10px;
}

.load-more {
  grid-column: 1 / -1;
  margin: 20px;
}

.load-more:hover {
  transform: scale(1.1);
  cursor: pointer;
}


/* Pokemon Details */


.detail {
  margin: auto;
  width: 50%;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0 0 6px 3px rgba(0,0,0,0.5);
}

.name-container {
  flex-basis: 100%;
  height: 80px;
}

.pokemon-name {
  grid-column: 1 / 3;
  font-size: 30px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pokemon-number {
  grid-column: 1 / 3;
  margin-bottom: 20px;
  font-size: 20px;
}

.detail-information {
  margin: auto;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px;
}

.detail-image-container {
  flex-basis: 50%;
  min-width: 300px;
}

.detail-image-container img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
}

.info-container {
  flex-basis: 40%;
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
}

.info-piece {
  height: 80px;
}

.info-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.info-info {

}

.abilities {
  grid-column: 1 / 3;
  display: flex;
  flex-wrap: wrap;
}

.abilities .info-header {
  flex-basis: 100%;
}

.abilities .info-info {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.abilities .info-info div {
  flex-basis: 50%;
}

.types {
  grid-column: 1 / 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.types .info-header {
  flex-basis: 100%;
}



.second-info-container {
  border: 1px solid black;
  width: 300px;
  margin: auto;
}



.base-stats {
  margin: 20px auto 0 auto;
  flex-basis: 50%;
  min-width: 300px;
  min-height: 200px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  align-items: center;
  border-radius: 20px;
  box-sizing: border-box;
  justify-content: center;
}

.header {
  grid-row: 1 / 2;
}

.header h4 {
  margin: 0;
}

.stat {
  display: grid;
  grid-template-columns: 80px 1fr;
}

.label {
  grid-column: 1 / 2;
  text-align: left;
  padding-left: 20px;
  font-size: 15px;
}

.stats-bar {
  width: 180px;
  margin-left: 5%;
  height: 15px;
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  overflow: hidden;
}

.filled {
  box-sizing: border-box;
  text-align: left;
  padding-left: 10px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding-top: 1px;
}

.hp-container {
  grid-row: 2 / 3;
}

.attack-container {
  grid-row: 3 / 4;
}

.defense-container {
  grid-row: 4 / 5;
}

.speed-container {
  grid-row: 5 / 6;
}

.sp-attack-container {
  grid-row: 6 / 7;
}

.sp-defense-container {
  grid-row: 7 / 8;
}

/*   EVOLUTIONS  DISPLAY */

.evolutions-container {
  margin: 20px auto 0 auto;
  flex-basis: 40%;
  min-width: 300px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 20px;
}

.evolution-title {
  flex-basis: 100%;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 10px;
}

.evolutions-container img {
  width: 98px;
  height: 98px;
}