:root {
  --pokemon-yellow: #FFCB05;
  --pokemon-light-blue: #3D7DCA;
  --pokemon-dark-blue: #003A70;
  --pokemon-red: #FF0000;
  /* Colors for Types */
  --type-grass: #82C95B;
  --type-fire: #E87A3D;
  --type-water: #639CE4;
  --type-bug: #ACC23E;
  --type-normal: #ACAD99;
  --type-poison: #B369AF;
  --type-electric: #F8D030;
  --type-ground: #CEB250;
  --type-fairy: #E8B0EB;
  --type-fighting: #C45D4C;
  --type-psychic: #E96C95;
  --type-rock: #BAA85E;
  --type-ghost: #816DB6;
  --type-ice: #98D8D8;
  --type-dragon: #8572C8;
  --type-flying: #90AAD7;
  --type-steel: #9FA9AF;
  --type-electric: #E7C536;
  --type-ice: #81CFD7;
  --type-dark: #79726B;
}

.App {
  text-align: center;
  background-color: #FAFAFA;
}

.main {
  padding-top: 12vh;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 4vh;
  background-color: #FAFAFA;
}

nav {
  position: fixed;
  height: 8vh;
  background-color: white;
  box-shadow: 0px 0px 5px 1px grey;
  width: 100vw;
  top: 0;
  z-index: 10;
}

.logo-container {
  height: 100%;
  display: flex;
  z-index: 3;
  position: absolute;
  left: 0;
  padding-left: 1vw;
}

.logo-container img {
  height: 80%;
  margin: auto;
}

nav ul {
  position: absolute;
  right: 1vw;
  top: 0;
  display: flex;
  align-items: center;
  width: 150px;
  height: 8vh;
  justify-content: space-around;
  margin: 0
}

nav li {
  list-style-type: none;
}

.sliding-rect {
  position: absolute;
  right: 10px;
  height: 100%;
  width: 150px;
  transition: all ease-in-out 300ms;
  background-color: white;
}

.sliding-rect svg {
  position: absolute;
  height: 100%;
  right: 0;
  transform: rotate(0);
  transition: all ease-in-out 300ms;
}

ul:hover svg {
  transform: rotate(-400deg);
}

ul:hover .sliding-rect {
  transform: translateX(-150px);
}

/* MONSTER HOME DISPLAY */

.home {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  grid-gap: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.monster-home-display {
  width: 300px;
  height: 338px;
  box-sizing: border-box;
  border-radius: 50px;
  max-width: 300px;
  display: grid;
  grid-template-rows: 240px 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 200ms ease-in-out;
  background-color: white;
  box-shadow: 0 0 6px 3px rgba(0,0,0,0.5);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.monster-home-display:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px 5px rgba(0,0,0,0.5);
}

.monster-home-display svg {
  height: 100px;
  margin: auto;
}

.monster-home-display img {
  position: relative;
  height: 250px;
  top: -10px;
  filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}

a {
  all: unset;
  cursor: pointer;
}

a:visited {
  all:unset;
  color: black;
}

.detail {
  display: flex;
  flex-direction: column;
}

.detail-image-container {
  
}

.detail-image-container img {
  width: 300px;
}

.base-stats {
  margin: auto;
  width: 300px;
  height: 250px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
}

.header {
  grid-row: 1 / 2;
}

.header h4 {
  margin: 0;
}

.stat {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.label {
  grid-column: 1 / 2;
}

.stats-bar {
  width: 90%;
  margin-left: 5%;
  border: 1px solid black;
  border-radius: 50px;
}

.filled {
  border-radius: 50px;
}

.hp-container {
  grid-row: 2 / 3;
}

.hp-bar {
  background-color: red;
}

.attack-container {
  grid-row: 3 / 4;
}

.attack-bar {
  background-color: gold;
}

.defense-container {
  grid-row: 4 / 5;
}

.defense-bar {
  background-color: cyan;
}

.speed-container {
  grid-row: 5 / 6;
}

.speed-bar {
  background-color: steelblue;
}

.exp-container {
  grid-row: 6 / 7;
}

.exp-bar {
  background-color: green;
}